@import "tailwindcss";

:root {
  --font-pixeboy: var(--font-pixeboy);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-image: url("/background/Rayquaza1.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.pixeboy {
  font-family: var(--font-pixeboy);
}